<aside id="sidebar">
    <nav class="nav">
        <ul class="ul">
            <li>
                <a href="views/dashboard.html" data-vista>
                    <img src="../img/reporte.png" alt="Icono de reporte" title="Reportes">
                </a>
            </li>

            <li>
                <a href="views/usuarios.html" data-vista>
                    <img src="../img/usuario.png" alt="Icono de usuario" title="usuarios">
                </a>
            </li>

            <li>
                <a href="views/peliculas.html" data-vista>
                    <img src="../img/pelicula.png" alt="Icono de pelicula" title="peliculas">
                </a>
            </li>

            <li>
                <a href="views/comentarios.html" data-vista>
                    <img src="../img/comentario.png" alt="Icono de comentario" title="comentarios">
                </a>
            </li> 
            <li>
                <a href="views/series.html" data-vista>
                    <img src="../img/series1.jpg" alt="Icono de series" title="series">
                </a>
            </li>
            <li>
                <button class="btn-close-sesion" id="cerrarSesion">
                    <img src="../img/close.png" alt="Icono cerrar sesión" title="Cerrar sesión">
                </button>
            </li>

        </ul>
    </nav>
</aside>