*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

.layout-container{
    display: grid;
    grid-template-areas: 
    "sidebar header header"
    "sidebar contenido contenido";
    grid-template-columns: 250px 1fr;
    grid-template-rows: 60px 1fr;   
    height: 100vh;
}

img{
    width: 10px;
}

/* HEADER */
#header{
    grid-area: header;
    height: 80px;
    display: flex;
    align-items: center;
    margin-left: -80px;
    
}

#header img{
    width: 50px;
    height: 50px;
}

#header .content-header{
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    padding: 10px;
}

#header .content-header p{
    font-family: "Inter", sans-serif;
}

/* SIDEBAR */
#sidebar .nav{
    grid-area: sidebar;
    width: 80px;
    height: 100vh;
    padding: 15px;
    border: 1px solid #d35252;
}

#sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 140px;
    align-items: center;
}

#sidebar img{
    width: 80%;
}

#sidebar button{
    background-color: transparent;
    border: none;
    width: 90%;
    cursor: pointer;
}

/* CONTENIDO */
#contenido{
    grid-area: contenido;
    margin-top: 20px;
    margin-left: -170px;
    background-image: url("../img/OIP-Artguru.png"); /* Reemplaza con tu ruta */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: transparent;

}

#reportes{
    height: 100%;
}

#reportes .reports{
    display: flex;
    gap: 80px;
}

#reportes .reports .container{
    width: 280px;
    height: 250px;
    border-radius: 12px;
    background-color:#5271FF;
    padding: 20px;
    cursor: pointer;
}

#reportes .container img{
    width: 23%;
}

#reportes .container p{
    color: #fff;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
}

#reportes .container span{
    color: #fff;
    font-size: 2.9rem;
    font-family: "Poppins", sans-serif;
}

/* USUARIOS */
#usuarios .wrapper{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
}

#usuarios .wrapper .container{
    background-color:#5271FF;
    width: 300px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    gap: 15px;
    color: #fff;
}

#usuarios .container img{
    width: 12%;
}

#usuarios .container_agregar{
    background-color:#FF0066 !important;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    border: none;
}

#usuarios .tabla-usuarios {
  background-color: #330099;
  width: 100%;
  border-collapse: collapse;
  color: #fff;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

#usuarios .tabla-usuarios th,
#usuarios .tabla-usuarios td {
  padding: 6px 15px;
  text-align: left;
  border-bottom: 1px solid #444;
  vertical-align: middle;
}

#usuarios .tabla-usuarios th {
  background-color: #220066;
  font-weight: 600;
}

#usuarios .tabla-usuarios td img {
  max-width: 40px;
  border-radius: 50%;
  display: block;
}

#usuarios .tabla-usuarios td button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-right: 8px;
}

#usuarios .tabla-usuarios td button:hover {
  transform: scale(1.1);
}

#usuarios .tabla-container {
    max-width: 80%;
    max-height: 400px; 
    overflow: auto;
    margin: 0 none;
    background-color: transparent;
    padding: 0;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
  
/* PELICULAS */
#peliculas .wrapper{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
}

#peliculas .wrapper .container{
    background-color:#5271FF;
    width: 300px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    gap: 15px;
    color: #fff;
}

#peliculas .container img{
    width: 12%;
}

#peliculas .container_agregar{
    background-color:#FF0066 !important;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    border: none;
}

#peliculas .tabla-peliculas{
  background-color: #330099;
  width: 100%;
  border-collapse: collapse;
  color: #fff;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

#peliculas .tabla-peliculas th,
#peliculas .tabla-peliculas td {
  padding: 6px 10px;
  text-align: left;
  border-bottom: 1px solid #444;
  vertical-align: middle;
}

#peliculas .tabla-peliculas th {
  background-color: #220066;
  font-weight: 600;
}

#peliculas .tabla-peliculas td img {
  max-width: 40px;
  border-radius: 50%;
  display: block;
}

#peliculas .tabla-peliculas td button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-right: 8px;
}

#peliculas .tabla-peliculas td button:hover {
  transform: scale(1.1);
}

#peliculas .tabla-container {
    max-width: 100%;
    max-height: 400px;
    overflow: auto;
    margin: 0 auto;
    background-color: transparent;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
  }

.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-contenido {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  width: 400px;
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  font-family: "Poppins", sans-serif;
}

.cerrar {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.formulario-modal .grupo-form {
  margin-bottom: 15px;
}

.formulario-modal label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.formulario-modal input[type="text"],
.formulario-modal input[type="email"],
.formulario-modal input[type="password"],
.formulario-modal input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.preview-avatar {
  margin-top: 10px;
  text-align: center;
}

.preview-avatar img {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #007BFF;
}

.btn-guardar {
  background-color: #007BFF;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.btn-guardar:hover {
  background-color: #0056b3;
}

.oculto {
  display: none !important;
}
/*--------*/

/* COMENTARIOS */
#comentarios .wrapper,
#calificaciones .wrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
}

#comentarios .wrapper .container,
#calificaciones .wrapper .container {
  background-color: #5271FF;
  width: 300px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  gap: 15px;
  color: #fff;
}

#comentarios .container img,
#calificaciones .container img {
  width: 12%;
}

#comentarios .container_agregar,
#calificaciones .container_agregar {
  background-color: #FF0066 !important;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border: none;
}

#comentarios .tabla-container,
#calificaciones .tabla-container {
  max-width: 100%;
  max-height: 400px;
  overflow: auto;
  margin: 0 auto;
  background-color: transparent;
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#comentarios .tabla,
#calificaciones .tabla {
  background-color: #330099;
  width: 95%;
  border-collapse: collapse;
  color: #fff;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

#comentarios .tabla th,
#comentarios .tabla td,
#calificaciones .tabla th,
#calificaciones .tabla td {
  padding: 6px 10px;
  text-align: left;
  border-bottom: 1px solid #444;
  vertical-align: middle;
}

#comentarios .tabla th,
#calificaciones .tabla th {
  background-color: #220066;
  font-weight: 600;
}

/* SERIES */
#series .wrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
}

#series .wrapper .container {
  background-color: #5271FF;
  width: 300px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  gap: 15px;
  color: #fff;
}

#series .container img {
  width: 12%;
}

#series .container_agregar {
  background-color: #FF0066 !important;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border: none;
}

/* Contenedor tabla */
#series .tabla-container {
  max-width: 100%;
  max-height: 400px;
  overflow: auto;
  margin: 0 auto;
  background-color: transparent;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* Estilo tabla */
#series .tabla-series {
  background-color: #330099;
  width: 100%;
  border-collapse: collapse;
  color: #fff;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Encabezado */
#series .tabla-series th {
  background-color: #220066;
  font-weight: 600;
  padding: 6px 10px;
  text-align: left;
  border-bottom: 1px solid #444;
}

/* Celdas */
#series .tabla-series td {
  padding: 6px 10px;
  text-align: left;
  border-bottom: 1px solid #444;
  vertical-align: middle;
}

/* Íconos */
#series .tabla-series td img {
  max-width: 40px;
  border-radius: 50%;
  display: block;
}

#series .tabla-series td button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-right: 8px;
}

#series .tabla-series td button:hover {
  transform: scale(1.1);
}


/* DISEÑO LOGIN */
.container_login {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(150deg, #6C3483, #58D68C);
    height: 100vh;
}

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    padding-top: 20px;
    border-radius: 10px;
}

.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .username{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.username input{
    width: 100%;
    padding: 0 5px;
    height:40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.username span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #6C3483;
}

.username input:focus ~ label,
.username input:focus ~ label{
    top: -5px;
    color: #6C3483;
}

.username input:focus ~ span:before,
.username input:focus ~ span:before{
    width: 100%;
}

form .contraseña {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.contraseña input {
    width: 100%;
    padding: 0 5px;
    height:40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.contraseña label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.contraseña input:focus ~ label,
.contraseña input:valid ~ label {
    top: -5px;
    color: #6C3483;
}

.recordar{
    margin: -5px 0 20px 5px;
    color: blue;
    cursor: pointer;
}

.recordar:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 50%;
    border: 5px solid;
    background: #6C3483;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border-color: purple;
    transition: .5s;
}

.registrarse{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;
}

.registrarse a{
    color: blue;
    text-decoration: none;
}

.registrarse a:hover{
    text-decoration: underline;
}