<div id="reportes">
    <div class="reports">
        <div class="container content-usuarios">
            <img src="../img/report_usuario.png" alt="Total del usuarios" title="Nro de usuarios">
            <p>Total de Usuarios</p>
            <span id="total-usuarios">0</span>
        </div>

        <div class="container content-peliculas">
            <img src="../img/report_pelicula.png" alt="Total de peliculas" title="Nro de peliculas">
            <p>Total de Peliculas</p>
            <span id="total-peliculas">0</span>
        </div>

        <div class="container content-comentarios">
            <img src="../img/report_comentario.png" alt="Total del comentarios" title="Nro de comentarios">
            <p>Total de Comentarios</p>
            <span>0</span>
        </div>

        <div class="container content-series">
            <img src="../img/series1.jpg" alt="Total de series" title="Nro de series">
            <p>Total de Series</p>
            <span id="total-series">0</span>
        </div>
        
    </div>
</div>
<script src="../js/usuarios.js"></script>
<script src="../js/reportes.js"></script>